<p>
  lists des contrats
</p>
<div class="container">  
  <br><br>  
        <table class="table" >  
            <tr ngclass="btn-primary">  
                <th class="tbl2">Référence</th>  
              <th class="tbl2">Nom de société</th>  
              <th class="tbl2">Adresse</th>  
              <th class="tbl2">Date de début</th>  
              <th class="tbl2">Durée de contrat</th>  
              <th class="tbl2">Durée de paiement</th>  
              <th class="tbl2">Durée de non concurrent</th> 
              <th class="tbl2">Create</th>   
              <th class="tbl2">Edit</th>  
              <th class="tbl2">Delete</th>  
            </tr>  
            <tr>  
              <td class="tbl2"></td>  
              <td class="tbl2"></td>  
              <td class="tbl2"></td>  
              <td class="tbl2"></td>  
              <td class="tbl2"></td>
              <td class="tbl2"></td>  
              <td class="tbl2"></td> 
              <td class="tbl2">  
                <button type="button" class="btn btn-primary"matTooltip="Click Create Button">Create</button>  
              </td>               
              <td class="tbl2">  
                <button type="button" class="btn btn-info"matTooltip="Click Edit Button">Edit</button>  
              </td>  
              <td class="tbl2">  
                <button type="button" class="btn btn-danger"matTooltip="Click Delete Button">Delete</button>  
              </td>   
            </tr>  
    
          </table>  
          <div ng-app>
            {{"Hello World"}}<br />
            {{100}}<br />
            {{true}}<br />
            {{10.2}}
        </div>
  </div>  
